<!DOCTYPE html>
<html lang="en">
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# xpredict: http://ogp.me/ns/fb/xpredict#">
  <meta property="fb:app_id" content="111851335634283" />
  <meta property="og:type"   content="xpredict:soccerteam" />
  <meta property="og:title"  content="{{ team.name }}" />

  <meta property="og:url"    content="http://xpredict.xczimi.com/soccerteam/{{ team.id }}" />
  <meta property="og:image"  content="http://xpredict.xczimi.com/xpredict/images/xpredict.jpg" />
  
  <head prefix="og: http://ogp.me/ns# NAMESPACE: http://ogp.me/ns/apps/NAMESPACE#">
<title>xPredict SoccerTeam {{ team.name }}</title>
</head>
<body>
<h#>{{ team.name }}</h#>
</body>

</html>
